<div style="display: flex;">
    <div>
        <div style="float: left;">
            <div style="height: 600px; width: 600px">
                <three3d #three3d [appObj]="this" ></three3d>
                <div #container></div>
            </div>
        </div>
    </div>
    <div style="">
        <div style="height:600px; width:1000px">
            <tree-grid></tree-grid>
            <!--div>
                <lib-slider #diff [node]=[extra]></lib-slider>
            </div>
            <tree-root #tree0
                [nodes]="nodes"
                [options]="options"
                (event)="onEvent($event)"
                (onEvent)="onEvent($event);"
                (initialized)="onInit(three0)"
                (activate)="onEvent($event);">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <lib-slider #nodeSlider [node]="node" [index]="index"></lib-slider>
                </ng-template>
            </tree-root-->
        </div>
    </div>
</div>
