<div style="display:inline-block;">
    <div style="display:inline-block;font-size:1.5em;margin: .5em;">
        <a href="http://savages.com" ><span> {{savages}} </span></a>
        <a href="http://taxnvote.org"><span style="margin: 1em">{{tnvFull}}</span></a>
  </div>
  <div style="display:inline-block;">
      <span style="font-size:1.2em;">  {{otitle}} </span>
  </div><br/>

  <span>Source code at <a href="http://github.com/greenpdx/GAMT">{{code}}</a></span>
  <span><a href="http://github.com/greenpdx/taxnvote" style="float: right">github/greenpdx/taxnvote</a></span>

</div>
<router-outlet></router-outlet>
<div style="display: flex;">
    <div>
        <div style="float: left;">
            <div style="height: 600px; width: 600px">
                <three3d #three3d [appObj]="this" ></three3d>
                <div #container></div>
            </div>
        </div>
    </div>
    <div style="">
        <div style="height:600px; width:1000px">
            <div>
                <lib-slider #diff [node]=[extra]></lib-slider>
            </div>
            <tree-root #tree0
                [nodes]="nodes"
                [options]="options"
                (event)="onEvent($event)"
                (onEvent)="onEvent($event);"
                (initialized)="onInit(three0)"
                (activate)="onEvent($event);">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <lib-slider #nodeSlider [node]="node" [index]="index"></lib-slider>
                </ng-template>
            </tree-root>
        </div>
    </div>
</div>
<p>End</p>
