<div style="display:inline-block;">
    <div style="display:inline-block;font-size:1.5em;margin: .5em;">
        <a href="http://taxnvote.org"><span style="margin: 1em">{{tnvFull}}</span></a>
  </div>

</div>
<div style="font-size: 2em;">
    <nav>
        <a routerLink="/voting">Tax Voting</a>
        <a routerLink="/tnvinfo">About</a>
        <a routerLink="/authors">Authors</a>
    </nav>
</div>
<div>
    <router-outlet></router-outlet>
</div>
<footer style="width: 100%;display:inline-block;"><a href="http://savages.com" ><span> {{savages}} </span></a></footer>
